
/Library/metadata

*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.meta
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/Library/assetDatabase3
/obj
/Temp

